<sign-layout
  [formTitle]="formTitle"
  [mainTitle]="mainTitle"
  [primaryBtnText]="pBtnText"
  [secondaryBtnText]="sBtnText"
  [disablePrimaryBtn]="!loginForm.valid"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">
    <default-input
      [formControlName]="pInputType"
      [label]="pInputLabel"
      [type]="pInputType"
      [placeholder]="pInputPlaceholder"
    >
      <img src="assets/svg/email-icon.svg" alt="Email envelope"
    /></default-input>
    <default-input
      [formControlName]="sInputType"
      [label]="sInputLabel"
      [type]="sInputType"
    >
      <img src="assets/svg/password-icon.svg" alt="Locker"
    /></default-input>
  </form>
</sign-layout>
