<sign-layout
  (navigate)="navigate()"
  (submit)="submit()"
  [disablePrimaryBtn]="!loginForm.valid"
  [formTitle]="formTitle"
  [mainTitle]="mainTitle"
  [primaryBtnText]="pBtnText"
  [secondaryBtnText]="sBtnText"
  [tooltipContent]="tooltipMessage"
>
  <form [formGroup]="loginForm">
    <default-input
      [formControlName]="pInputType"
      [label]="pInputLabel"
      [placeholder]="pInputPlaceholder"
      [type]="pInputType"
    >
      <img alt="Email envelope" src="assets/svg/email-icon.svg"
    /></default-input>
    <default-input
      [formControlName]="sInputType"
      [label]="sInputLabel"
      [type]="sInputType"
    >
      <img alt="Locker" src="assets/svg/password-icon.svg"
    /></default-input>
  </form>
</sign-layout>
