<sign-layout
  (navigate)="navigate()"
  (submit)="submit()"
  [disablePrimaryBtn]="!createForm.valid"
  [formTitle]="formTitle"
  [mainTitle]="mainTitle"
  [primaryBtnText]="pBtnText"
  [secondaryBtnText]="sBtnText"
>
  <form [formGroup]="createForm">
    <default-input
      [formControlName]="nameInputName"
      [label]="nameInputLabel"
      [placeholder]="nameInputHolder"
      [type]="nameInputType"
    >
      <img alt="User Icon" src="assets/svg/user-icon.svg"
      /></default-input>
    <default-input
      [formControlName]="emailInputType"
      [label]="emailInputLabel"
      [placeholder]="emailInputHolder"
      [type]="emailInputType"
    >
      <img alt="Email envelope" src="assets/svg/email-icon.svg"
      /></default-input>
    <default-input
      [formControlName]="passInputType"
      [label]="passInputLabel"
      [type]="passInputType"
    >
      <img alt="Locker" src="assets/svg/password-icon.svg"
      /></default-input>
    <default-input
      [formControlName]="passConfirmInputName"
      [label]="passConfirmInputLabel"
      [type]="passInputType"
    >
      <img alt="Locker" src="assets/svg/password-icon.svg"
      /></default-input>
    @if (createForm.hasError('notMatched') &&
    createForm.get('passwordConfirm')?.dirty) {
      <p>Passwords do not match</p>
    }
  </form>
</sign-layout
>
