<main>
  <section class="form-sec">
    <img alt="Twitter Logo" src="assets/png/twitter-logo.png"/>
    <h1>{{ formTitle() }}</h1>
    <ng-content></ng-content>
    <div class="btn-wrap">
      <button
        (click)="submit()"
        [disabled]="disablePrimaryBtn()"
        [label]="primaryBtnText()"
        class="btn-sign"
        pButton
      ></button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button
        (click)="navigate()"
        [label]="secondaryBtnText()"
        class="btn-sign"
        pButton
      ></button>
    </div>
  </section>

  <section class="main-sec">
    <h1>{{ mainTitle() }}</h1>
    <img alt="Home page draw" src="assets/png/homepage-draw.png"/>
  </section>
</main>
